@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply focus:outline-none;
  }
}

@layer utilities {
  .not-copy {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* layout */
  .absolute-vertical-center {
    left: 50%;
    transform: translateX(-50%);
  }
  .aboslute-horizontal-center {
  }
  /* width page profile */
  .w-max-1050 {
    width: min(100%, 1050px);
    padding-left: 16px;
    padding-right: 16px;
  }

  .w-max-1095 {
    width: min(100%, 1095px);
  }

  .w-max-590 {
    width: min(100%, 590px);
  }

  /* filter icon */
  .filter-primary {
    fill: #1877f2;
  }
  .filter-white {
    -webkit-filter: invert(100%);
  }
  .filter-secondaryDark {
    -webkit-filter: invert(70%);
  }
  .filter-black {
    -webkit-filter: invert(8%) sepia(10%) saturate(200%) saturate(200%)
      saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
  }
  .filter-secondary-icon {
    -webkit-filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg)
      brightness(90%) contrast(96%);
  }
  .filter-primary-icon {
    -webkit-filter: invert(39%) sepia(57%) saturate(200%) saturate(200%)
      saturate(200%) saturate(200%) saturate(200%) saturate(147.75%)
      hue-rotate(202deg) brightness(97%) contrast(96%);
  }

  /* height  */
  .min-h-notHeader {
    min-height: calc(100vh - 56px);
  }

  .h-notHeader {
    height: calc(100vh - 56px);
  }

  .w-itemNavMid {
    max-width: calc(15vw - 55px);
  }

  .shadow-navLeft {
    box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.61);
  }
  .not-coppy {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .form-shadow {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }

  .border-page-auth {
    border-width: 1px;
    border-color: #ccd0d5;
  }
}
